<nav class="navbar">
    <a href="{{ROOT}}index.html#home" class="nav-logo">Eneida Feijó</a>

    <button class="hamburger" id="hamburger" aria-label="Abrir menu">
        <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </button>

    <ul class="nav-menu" id="nav-menu">
        <li class="nav-item"><a href="{{ROOT}}index.html#home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{ROOT}}index.html#eventos-concluidos" class="nav-link">Eventos</a></li>
        <li class="nav-item"><a href="{{ROOT}}index.html#proximos-eventos" class="nav-link">Próxima Imersão</a></li>
        <li class="nav-item"><a href="{{ROOT}}index.html#depoimentos" class="nav-link">Depoimentos</a></li>
        <li class="nav-item"><a href="{{ROOT}}index.html#publicacoes" class="nav-link">Publicações</a></li>
        <li class="nav-item"><a href="{{ROOT}}index.html#contato" class="nav-link cta-button">Agendar Sessão</a></li>
    </ul>
</nav>